:root {
  --primary-color: #6c63ff;
  --secondary-color: #f6f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
h1 {
  font-size: 98px;
  margin: 0;
  text-align: center;
}

h2 {
  font-size: 28px;
  margin: 0;
  text-align: center;
}

p {
  font-size: 18px;
  line-height: 27px;
  padding: 20px;
  margin: 10px;
  text-align: center;
}
.title {
  margin-top: 60px;
}
.navigation-links {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.primary-link {
  color: white;
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  margin: 20px;
  padding: 20px 15px;
  text-decoration: none;
  margin-left: -3px;
}
.secondary-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  margin: 20px;
  padding: 20px 15px;
  text-decoration: none;
}

.email-link {
  color: var(--primary-color);
  display: flex;
  font-size: 25px;
  justify-content: center;
  text-decoration: none;
}
.email-link:hover {
  text-decoration: underline;
}

.homepage-link {
  color: var(--primary-color);
  display: block;
  text-align: center;
}
.home-text {
  font-size: 18px;
}
.titles {
  font-size: 60px;
}
